table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0 0 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px #333;
          box-shadow: 0px 0px 10px #333;
}

table td,
table th {
  border: 1px solid gray;
  text-align: center;
  padding: 0.5em;
}

table th {
  font-size: 1.6em;
  background-color: #ffbd96;
  color: #333;
}

table tr {
  background-color: white;
}

table tr:hover {
  background-color: #efefef;
}

input {
  width: 100%;
  height: 50px;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eee;
  border: 2px solid #e35400;
  border-radius: 5em;
  padding: 0.7em;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

input:focus {
  background-color: #ffddc9;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 26px solid #fc5d00;
  border-color: #fc5d00 transparent #fc5d00 transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}
/*# sourceMappingURL=Table.css.map */