$gvc-orange: #fc5d00;
$gvc-grey: #eee;

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0 0 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;

  td,
  th {
    border: 1px solid gray;
    text-align: center;
    padding: 0.5em;
  }

  th {
    font-size: 1.6em;
    background-color: lighten($gvc-orange, 30%);
    color: #333;
  }

  tr {
    background-color: lighten($gvc-grey, 50%);

    &:hover {
      background-color: lighten($gvc-grey, 0.5%);
    }
  }
}

input {
  width: 100%;
  height: 50px;
  font-size: 1.7rem;
  box-sizing: border-box;
  background-color: #eee;
  border: 2px solid darken($gvc-orange, 5%);
  border-radius: 5em;
  padding: 0.7em;
  transition: 100ms ease-in-out;

  &:focus {
    background-color: lighten($gvc-orange, 40%);
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  &:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid $gvc-orange;
    border-color: $gvc-orange transparent $gvc-orange transparent;
    animation: lds-hourglass 1.2s infinite;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
