nav {
  height: 100px;
  text-align: center;
  margin: 0 0 10px 0;
}

nav img {
  height: 100%;
  margin: 0 auto;
}

nav div {
  margin: 10px 0 10px 0;
}

nav div a {
  padding: 0.5em;
  text-decoration: none;
  color: #fc5d00;
  font-size: 1.2em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

nav div a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav div a.active {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}
/*# sourceMappingURL=Navbar.css.map */