$gvc-orange: #fc5d00;

nav {
  height: 100px;
  text-align: center;
  margin: 0 0 10px 0;

  img {
    height: 100%;
    margin: 0 auto;
  }

  div {
    margin: 10px 0 10px 0;

    a {
      padding: 0.5em;
      text-decoration: none;
      color: $gvc-orange;
      font-size: 1.2em;
      transition: 200ms ease-in-out;

      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }

      &.active {
        font-weight: bold;
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
