body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  background-color: #eee;

  div.container {
    margin: 5em 0 0 0;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 3em;
    }

    p {
      text-align: center;
    }

    img.sup {
      margin: 0 auto;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
